<?xml version="1.0" encoding="UTF-8"?>
<Library>
  <Category name="SYSTEM">
    <Block type="Read_System_Time" description="Read current system time (ms)" class="FunctionBlock">
      <Inputs>
        <Variable name="EN" type="BOOL" default="FALSE" />
      </Inputs>
      <Outputs>
        <Variable name="ENO"  type="BOOL" />
        <Variable name="TIME" type="DINT" />
      </Outputs>
    </Block>
    <Block type="Log_Data" description="Log variable value to console" class="FunctionBlock">
      <Inputs>
        <Variable name="EN"    type="BOOL" default="FALSE" />
        <Variable name="Value" type="REAL" default="0.0" />
      </Inputs>
      <Outputs>
        <Variable name="ENO" type="BOOL" />
      </Outputs>
    </Block>
  </Category>
</Library>
